body {
  padding: 10px;
  background-color: #373737;
  color: #EFEAE4;
  font-family: 'Ubuntu Mono', Arial, sans-serif;
}

h1 {
  padding: 0 3px;
  color: #EFEAE4;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 53px;
}

a {
  color: #2BB2DD;
}

ul, ul li ul {
  padding: 0;
  margin-left: 0;
}

#container {
  width: 800px;
  margin: 0 auto;
}

#controls {
  display: inline-block;

  button {
    padding: 0.8rem;
    font-family: 'Ubuntu Mono', Arial, sans-serif;
    font-size: 1rem;
  }
}

#readout {
  display: inline-block;
  background: #222;
  margin: 10px 5px;
  padding: 10px;
  border: 1px solid #444;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 18px;
  color: #2BB2DD;
  span {
    display: inline-block;
    margin-right: 15px;
  }

  #counter {
    width: 80px;
  }
}

#drum-grid {
  width: 90%;
  list-style: none;
  ul.instrument {
    background: #575757;
    margin-bottom: 0.2rem;
    border: 1px solid #222;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
  ul li { 
    display: inline-block; 
    margin: 0.5rem;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    button {
      width: 50px;
      height: 35px;
      margin: 0;
      padding: 0;
      border: 1px solid #333;
      vertical-align: middle;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      background: #EFEAE4;
      -webkit-box-shadow: inset -1px -2px 5px 0px rgba(50, 50, 50, 1);
      box-shadow: inset -1px -2px 5px 0px rgba(50, 50, 50, 1);
      div {
        width: 30px;
        height: 4px;
        margin: 15px 9px 0;
        background: #222;
        border: 1px solid #555;
      }
    }
    button.btn-on {
      background: #555;
      -webkit-box-shadow: inset 1px -3px 5px 0px rgba(50, 50, 50, 1);
      box-shadow: inset 1px -3px 5px 0px rgba(50, 50, 50, 1);
      div {
        background: #2cf;
        border-bottom: 1px solid #3df;
        border-right: 1px solid #3df;
      }
    }
  }
  ul li.instrument-name { 
    width: 110px;
    font-size: 16px;
    text-align: right;
    span {
      font-size: 12px;
      color: #ccc;
    }
  }
  ul li.beat-name {
    font-size: 12px;
  }
}
