@import 'config';

body {
  padding: 0.7rem;
  background-color: $bg-main;
  color: $fg-main;
  font-family: 'Ubuntu Mono', Arial, sans-serif;
}

h1 {
  padding: 0 0.2rem;
  color: $fg-main;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 3.5rem;
}

a {
  color: $fg-alt;
}

ul, ul li ul {
  padding: 0;
  margin-left: 0;
}

#container {
  width: 55%;
  margin: 0 auto;
}

#controls {
  display: inline-block;

  button {
    padding: 0.8rem;
    font-family: 'Ubuntu Mono', Arial, sans-serif;
    font-size: 1rem;
  }
}

#readout {
  display: inline-block;
  background: $bg-darker;
  margin: 10px 5px;
  padding: 10px;
  border: 1px solid $bg-lighter;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 18px;
  color: $fg-alt;
  span {
    display: inline-block;
    margin-right: 15px;
  }

  #counter {
    width: 80px;
  }
}

#drum-grid {
  width: 90%;
  list-style: none;
  ul.instrument {
    background: $bg-inst;
    margin-bottom: 0.2rem;
    border: 1px solid $bg-darker;
    @include border-radius(6px);
  }
  ul li { 
    display: inline-block; 
    margin: 0.5rem;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    button {
      width: 50px;
      height: 35px;
      margin: 0;
      padding: 0;
      border: 1px solid $bg-darker;
      vertical-align: middle;
      @include border-radius(6px);
      background: $fg-main;
      @include box-shadow();
      div {
        width: 30px;
        height: 4px;
        margin: 15px 9px 0;
        background: $bg-darker;
        border: 1px solid #555;
      }
    }
    button.btn-on {
      background: $button-bg;
      @include box-shadow();
      div {
        background: $button-light;
        border-bottom: 1px solid $button-light-border;
        border-right: 1px solid $button-light-border;
      }
    }
    button:focus { 
      outline: 1px dashed $bg-lighter; 
    }
  }
  ul li.instrument-name { 
    width: 110px;
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    span {
      font-size: 12px;
      color: $fg-darker;
    }
  }
  ul li.beat-name {
    font-size: 12px;
    .current-beat {
      background: $bg-inst;
      @include border-radius(6px);
    }
  }
}
