<h1>Rhythmic Composer</h1>

<div id="controls">
  <button id="play" class="btn btn-success" ng-click="playLoop()">Play</button>
  <button id="stop" class="btn btn-danger" ng-click="stopLoop()">Stop</button>
</div>
<div id="readout">
  <span id="time-signature">{{machine.timeSignature}}/4</span>
  <span id="tempo">{{machine.tempo}} bpm</span>
  <span id="kit">Kit: Standard</span>
  <span id="counter">{{machine.currentMeasure}} : {{machine.currentBeat}}</span>
  <%#<input ng-model="machine.tempo" />%>
  <%#<input ng-model="machine.beatsPerMeasure" />%>
</div>

<ul id="drum-grid">
  <li>
    <ul>
      <li class='instrument-name'></li>
      <li class='beat-name' data-ng-repeat="i in machine.beats[0]">
        {{$index + 1}}
      </li>
    </ul>
  </li>
  <li ng-repeat="instrument in instruments">
    <ul class="instrument">
      <li class='instrument-name'>
        {{instrument.name}}<br>
        <span>{{instrument.description}}</span>
      </li>
      <li data-ng-repeat="i in machine.beats[0]">
        <button class="btn" ng-class="{'btn-on':isOn(instrument, $index)}" 
          ng-click="toggleBeat(instrument, $index)">
          <div></div>
        </button>
      </li>
    </ul>
  </li>
</ul>
