<!DOCTYPE html>
<html lang="en-us" ng-app="DrumMachine">
<head>
  <meta charset="utf-8" />
  <title>The Rhythmic Composer Drum Machine</title>

  <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Orbitron:400'>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body ng-controller="DrumController">
  <%= yield %>

  <footer>
    Drum loops provided by
    <a href="http://www.musicradar.com/news/tech/free-music-samples-download-loops-hits-and-multis-217833/65">Music Radar</a>.
  </footer>

  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/howler/howler.min.js"></script>
  <script src="/javascripts/angular/app.js"></script>
  <script src="/javascripts/angular/services.js"></script>
  <script src="/javascripts/angular/controllers.js"></script>
  <script src="/javascripts/angular/filters.js"></script>
  <script src="/javascripts/angular/directives.js"></script>
</body>
</html>
