body {
  padding: 0.7rem;
  background-color: #373737;
  color: #efeae4;
  font-family: 'Ubuntu Mono', Arial, sans-serif;
  line-height: 1.2; }

h1 {
  padding: 0 0.2rem;
  color: #efeae4;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 3.5rem; }

a {
  color: #2bb2dd; }

ul, ul li ul {
  padding: 0;
  margin-left: 0; }

button:focus, input:focus {
  outline: 1px dashed #444444; }

#container {
  width: 55%;
  margin: 0 auto; }

#controls {
  /*height: 2.4rem;*/
  /*line-height: 2.4rem;*/
  margin-bottom: 0.5rem; }
  #controls button {
    height: 2.4rem;
    line-height: 2.4rem;
    padding: 0 1rem;
    margin: 0;
    font-family: 'Ubuntu Mono', Arial, sans-serif;
    font-size: 1rem; }
  #controls #readout {
    display: inline-block;
    height: 2.4rem;
    line-height: 2.4rem;
    background: #222222;
    padding: 0 1rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    /*border: 1px solid $bg-lighter;*/
    /*font-size: 1.2rem;*/
    color: #2bb2dd; }
    #controls #readout #tempo {
      position: relative; }
      #controls #readout #tempo input[type="range"] {
        -webkit-appearance: none;
        position: relative;
        top: -4px;
        background-color: #2bb2dd;
        height: 2px; }
      #controls #readout #tempo input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 11px;
        height: 11px;
        cursor: pointer;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        border-radius: 6px;
        background-color: #2bb2dd; }

#drum-grid {
  width: 90%;
  list-style: none; }
  #drum-grid ul.instrument {
    background: #575757;
    margin-bottom: 0.2rem;
    border: 1px solid #222222;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px; }
  #drum-grid ul li {
    display: inline-block;
    margin: 0.5rem;
    width: 50px;
    text-align: center;
    vertical-align: middle; }
    #drum-grid ul li button {
      width: 50px;
      height: 35px;
      margin: 0;
      padding: 0;
      border: 1px solid #222222;
      vertical-align: middle;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      border-radius: 6px;
      background: #efeae4;
      -webkit-box-shadow: inset 1px -2px 5px 0px #323232;
      box-shadow: inset 1px -2px 5px 0px #323232; }
      #drum-grid ul li button div {
        width: 30px;
        height: 4px;
        margin: 15px 9px 0;
        background: #222222;
        border: 1px solid #555; }
    #drum-grid ul li button.btn-on {
      background: #777777;
      -webkit-box-shadow: inset 1px -2px 5px 0px #323232;
      box-shadow: inset 1px -2px 5px 0px #323232; }
      #drum-grid ul li button.btn-on div {
        background: #22ccff;
        border-bottom: 1px solid #33ddff;
        border-right: 1px solid #33ddff; }
  #drum-grid ul li.instrument-name {
    width: 110px;
    font-size: 16px;
    line-height: 16px;
    text-align: right; }
    #drum-grid ul li.instrument-name span {
      font-size: 12px;
      color: #bfbab4; }
  #drum-grid ul li.beat-name {
    font-size: 12px; }
    #drum-grid ul li.beat-name .current-beat {
      background: #575757;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      border-radius: 6px; }

/*# sourceMappingURL=main.css.map */